
<div class="row" >
    <div class="col-2">
        <input [(ngModel)]="hero.name" type="text" class="form-control m-3" placeholder="Name">
    </div>

    <div class="col-2">
        <input [(ngModel)]="hero.power" type="text" class="form-control m-3" placeholder="power">
    </div>

    <div class="col-2">
        <input [(ngModel)]="hero.moves" type="text" class="form-control m-3" placeholder="Strongest Moves">
    </div>

    <div class="col-2">
        <input [(ngModel)]="hero.image"  type="text" class="form-control m-3" placeholder="Image URL">
    </div>

    <div class="col-3">
        <button (click)="ajouter()" class="btn form-control m-3"> Create New Hero</button>
    </div>
</div>
